.Text-price{
    color: red;
    text-decoration: line-through;
  }
  .current-price{
    color: rgb(11, 223, 11);
  }
  .sale-sticker {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .grid{
  row-gap: 15px;
  }
  .space {
    padding-top: 120px;
  }
  .button-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-cont button{
    background-color: var(--primary-color);
    border: none;
    padding: 5px 20px 5px 20px;
  }

  button{
    color: white;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    opacity: 0.9;
  }
  img {
    height: 35vh;
  }
 
  