* {
    font-family: "Roboto Condensed";
}

.container {
    margin-top: 140px;
}

// .cartHeading{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;



// }
// .cartDescrip{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding-left: 20px;
// }

// .pArt{
//     display: flex;


// }

// li{
//     margin-left: 50px;
//     margin-right: 60px;
// }

// .product{
//     max-width: 300px;
// }

// img{
//     width: 100px;
//     height: 110px;
// }


// .quantity{
//     margin-top: 50px;
//     padding-right: 70px;

// }

// .fprice{
//     // display: flex;
//     // justify-content: space-between;
//     display: flex;
//     flex-direction: row;
//     justify-content:space-between;
//     align-items: center;
//     padding-left: 20px;
//     margin-right: 60px;
// }

// .oSum{
//     margin-top: 12px;
// }

// h3{
//     justify-content: center;
//     display: flex;
//     align-items: center;
// }

// .sMore{
//     margin-bottom: 20px;
// }
// .space{
//     padding-top: 100px;
// }

.cartDescrip {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.cartDescrip li {
    text-align: center;
    font-weight: bold;
}

.product img {
    max-width: 100%;
    height: auto;
}

.quantity {
    display: flex;
    align-items: center;
    margin-left: 6rem;
}

.quantity .input-box {
    width: 60px;
    text-align: center;
}

.price {
    margin-left: 3rem;
}

.fprice {
    margin-bottom: 0;
}

.remove {
    text-align: right;
}

.price-title {
    margin-right: 9rem;
}