#profile-img img{
    height: 30vh;
    width: 40wh;
    border-radius: 50%;
    margin: auto;
    margin-top: 0;
    margin-left: 10px;

}
.logo
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.btn{
    background-color: transparent;
    color: var(--primary-color);
   margin-left: 25%;
   border: 3px solid var(--primary-color);
   padding: 10px 40px 10px 40px;
   font-weight: bolder;
   margin-top: 20px;
}

.container{
    background-color:white;
     width: 27%;
     height:490px;
     overflow: hidden;
     padding:20px;
     padding-top: 0;
     margin: auto;
     border-radius: 17px;
    border:1px solid;
    margin-top:150px;
   }
   input {
    font-weight: 100;
    background-color: rgb(246, 244, 244);
   }

label{
    color: rgb(139, 139, 139);
}
   

.links{
    justify-self: flex-end;
    margin-top: 2rem;
}

a{
    color: var(--primary-color);
    
}

img {
    margin-left: 22%;
}