

<div class="container">
    <form [formGroup]="Register" (ngSubmit)="register()">
      <div class="logo">
        <img src="assets/1.jpg" alt="">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" placeholder="Enter your first name">Username</label>
      <input type="text" class="form-control" formControlName="username" id="email" placeholder="Enter your username" required>
  
    </div>
    <div class="mb-3">
      <!-- <label for="exampleInputEmail1" class="form-label" ></label>
      <input type="lastname" class="form-control" formControlName="email" id="email" placeholder="Enter your lastname" required> -->
  
    </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" placeholder="Enter your email account">Email</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email account" required>
      
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" placeholder="Enter password">Password</label>
          <input type="password" class="form-control"  formControlName="password" id="password" placeholder="Enter your password" required >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="cPassword" id="cPassword" placeholder="please confirm your password"required >
          </div>
         
        <a class="btn btn-primary"  (click)="register()"  >Register</a>
        <div class="links">
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        <a routerLink="/home">
          <i class="bi bi-arrow-left"></i> Back to Home
      </a>
        </div>
      </form>
</div>
