nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  z-index: 9999;
  margin-top: 0;

  img{
    width: 150px;
    height: 100px;
    object-fit: cover;
  }

  ul{
    margin: 1.5rem;
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-right: 3rem;

    a{
      color: white;
      text-decoration: none;

      li{
        font-size: large;
        font-weight: 800;

        i{
          position: relative;
          font-size: larger;
        }

        span{
          position: absolute;
          bottom: 0.5rem;
        }
      }
    }

    a:hover{
      color: rgb(254, 211, 131);
    }

    .login-btn{
      background-color: rgb(240, 240, 240);
      color: rgb(122, 122, 122);
      padding: 5px 25px 5px 25px;
      margin-top: -0.2rem;
      border-radius: 4px;

      li{
        font-weight: 400;
      }
    }

    .login-btn:hover{
      background-color: rgb(215, 215, 215);
      color: rgb(122, 122, 122);
    }

  }

}


.light{
  color: rgb(237, 197, 121);
}
