<div class="home-container">
  <app-navbar></app-navbar>

  <div class="header-container">
    <div class="header-content">
      <h1>Designing your lifestyle, one piece at a time.</h1>
      <p>Discover timeless elegance and modern comfort at our furniture shop. Our curated collection offers a diverse range of styles to suit every taste, reflecting your unique personality and vision for your home.</p>
      <a href="/home#products" class="view-products">SHOP NOW</a>
    </div>
  </div>


  <div class="all-products" id="products">
    <h1>Our Available Products</h1>
    <app-products class="products"></app-products>
  </div> 
  <app-footer></app-footer>
</div>



<!-- <div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval=""
>
  <div class="carousel-inner">
    <div class="carousel-item active cr">
      <img img src="https://plus.unsplash.com/premium_photo-1673548917423-073963e7afc9?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
      <div class="card-img-overlay container">
        <h1>
          Adorable Furniture. Big Value For Money. 
        </h1>
        <h3>saving less.</h3>
        <a
          href="#"
          class="btn btn-secondary"
          style="color: white"
          routerLink="/products"
          >View Product</a
        >
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <img src="../assets/30.jpg" class="d-block w-100" alt="..." />
    <div class="card-img-overlay container">
      <h1>
        Adorable <span class="highlight">Furnisher</span>.<br />
        <span>Forz<span class="highlight">Picture-Perfect</span>space.</span>
      </h1>
      <h3>saving less.</h3>
      <a
        href="#"
        class="btn btn-secondary"
        style="color: white"
        routerLink="/products"
        >View Product</a
      >
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->

<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/13.jpg" class="d-block w-100" alt="...">
      <div class="card-img-overlay center-button">
        <a href="#" class="btn btn-secondary" style="color:white;" routerLink="/products" >View Product</a>
    </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/31.jpg" class="d-block w-100" alt="...">
      <div class="card-img-overlay center-button">
        <a href="#" class="btn btn-secondary" style="color:white;" routerLink="/products" >View Product</a>
    </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/30.jpg" class="d-block w-100" alt="...">
      <div class="card-img-overlay center-button">
        <a href="#" class="btn btn-secondary" style="color:white;" routerLink="/products" >View Product</a>
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- <div class="card bg-dark text-white">
     <img src="../assets/13.jpg" class="card-img" alt="..."> 
    <div class="card-img-overlay center-button">
        <a href="#" class="btn btn-secondary" style="color:white;" routerLink="/products" >View Product</a>
    </div>
  </div> -->
