#profile-img img{
    height: 30vh;
    width: 40vh;
    // border:2px solid black;
    border-radius: 60%;

}

.logo
{
    
    margin-top: 20px;
  
}
.container{
    display: grid;
    place-items: center;
    background-color:rgb(242, 234, 234);
    border-radius: 17px;
    border:1px solid red;
    width: 30%;
    height: fit-content;
    overflow: hidden;
    padding:20px;
    padding-top: 0;
    margin: auto;
    border-radius: 17px;
    margin-top: 130px;
   

}


 
h2{
   text-align: center;
   color: orange;
}

button{
    background-color: transparent;
    color: var(--primary-color);
   margin-left:23%;
   border: 3px solid var(--primary-color);
   padding: 10px 40px 10px 40px;
   font-weight: bolder;
   margin-top: 10px;
}

label{
    color: rgb(139, 139, 139);
}
   

.links{
    justify-self: flex-end;
    margin-top: 2rem;
}

a{
    color: var(--primary-color);
    
}

input {
    font-weight: 100;
    background-color: rgb(246, 244, 244);
  
   }
